<div class="card {{if inverse 'card-inverse'}}{{_mood}} {{_textPosition}}{{_align}}">
  {{yield (hash
    header=(component 'ui-card-header')
    image=(component 'ui-card-image' src=imageSrc)
    imageTop=(component 'ui-card-image' src=imageTopSrc top=true)
    imageBottom=(component 'ui-card-image' src=imageBottomSrc bottom=true)
    block=(component 'ui-card-block' )
  )}}
</div>
