{{#if (not (or route action))}}
<a href="{{src}}" class="card-link {{class}}" alt="{{alt}}" target="{{target}}">
  {{yield}}
  {{content}}
</a>
{{/if}}

{{#if route}}
  {{#link-to route class='card-link' alt="{{alt}}"}}
    {{yield}}
    {{content}}
  {{/link-to}}
{{/if}}

{{#if action}}
  <span class="card-link" onclick={{action 'onClick'}}>
    {{yield}}
    {{content}}
  </span>
{{/if}}
