<li class="nav-item {{if _matchedValue 'active'}} {{class}}">
  <div class="nav-link" onclick={{action 'onChange' this}}>
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{title}}
    {{/if}}
  </div>
</li>
