<div class="flash-messages">
  {{#each flashMessages.queue as |flash|}}
    {{#flash-message flash=flash as |component flash|}}
      {{#if flash.componentName}}
        {{component flash.componentName content=flash.content}}
      {{else}}
        <h6>{{component.flashType}}</h6>
        <p>{{flash.message}}</p>
      {{/if}}
    {{/flash-message}}
  {{/each}}
</div>
<div class="container">

  {{#ui-navbar onChange=(action 'navChange') selected=currentPath as |nav|}}
    {{nav.brand brand='ui-bootstrap' linkTo='https://github.com/lifegadget/ui-bootstrap'}}
    {{#nav.items}}
      {{#nav.item routeTo='index'}}
        README
      {{/nav.item}}
      {{nav.item title='CSS' routeTo='css'}}
      {{nav.item title='Components' routeTo='components'}}
      {{nav.item title='Addons' routeTo='addons'}}
    {{/nav.items}}
  {{/ui-navbar}}

  {{outlet}}

</div>
