<div class="row">
  <div class="col-xs-6">
    <h1>Label</h1>
    <p class="text-muted">
      As has been the cases for several versions of Bootstrap there is a bootstrap
      {{bs-label 'label'}} component. Stylistically you can now also state that the
      label should be {{bs-pill 'pill shaped'}}.
    </p>
    <p class='text-muted'>
      The {{bs-label 'my mood' mood='success'}} property is also supported and you can use
      both {{bs-label 'inline' mood='info'}} and {{#bs-label mood='primary'}}block{{/bs-label}} forms.
    </p>
  </div>
  <div class="col-xs-6">
{{#code-block language='handlebars'}}
\{{bs-label 'label'}}
\{{bs-pill 'pill shaped'}}
\{{bs-label 'my mood' mood='success'}}
\{{bs-label 'inline' mood='info'}}
\{{#bs-label mood='primary'}}block\{{/bs-label}}{{/code-block}}
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6">
    <h1>Navbar</h1>
    <p class="text-muted">
      We have added a {{bs-label title='bs-navbar' pill=true}} component which in turn has a number of contextual components under it:
      <ul>
        <li>bs-navbar-brand</li>
        <li>bs-navbar-items</li>
        <li>bs-navbar-item</li>
      </ul>
    </p>
    <p>
      The navbar for this demo is using this and you can refer to the dummy app for more details but to the right you see the <code>application.hbs</code> template's layout used.
    </p>
  </div>
  <div class="col-xs-6">
{{#code-block language='handlebars'}}
\{{#bs-navbar onChange=(action 'navChange') selected=currentPath as |nav|}}
  \{{nav.brand
      brand='ui-bootstrap'
      linkTo='https://github.com/lifegadget/ui-bootstrap'
    }}
  \{{#nav.items}}
    \{{#nav.item routeTo='index'}}
      README
    \{{/nav.item}}
    \{{nav.item title='CSS' routeTo='css'}}
    \{{nav.item title='Components' routeTo='components'}}
    \{{nav.item title='Addons' routeTo='addons'}}
  \{{/nav.items}}
\{{/bs-navbar}}{{/code-block}}

  </div>
</div>
