<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>Label and Pill</h1>
    <p class="text-muted">
      As has been the cases for several versions of Bootstrap there is a bootstrap
      {{ui-label 'label'}} component. Stylistically you can now also state that the
      label should be {{ui-pill 'pill shaped'}}.
    </p>
    <p class='text-muted'>
      The {{ui-label 'my mood' mood='success'}} property is also supported and you can use
      both {{ui-label 'inline' mood='info'}} and {{#ui-label mood='primary'}}block{{/ui-label}} forms.
    </p>
    <p>
      Both <i>label</i> and <i>pill</i> support the <b>onClick</b> event. If the container using it attaches to this event the class {{ui-label '.bs-clickable'}} will be set which by default just turns the cursor into a pointer.
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
    <table class='table'>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-label 'my label'}}{{/code-block}}</td>
        <td width='50%'>{{ui-label 'my label'}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-pill 'my pill'}}{{/code-block}}</td>
        <td width='50%'>{{ui-pill 'my pill'}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-pill 'moody pill' mood='danger'}}{{/code-block}}</td>
        <td width='50%'>{{ui-pill 'moody pill' mood='danger'}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-pill 'big pill' size='large'}}{{/code-block}}</td>
        <td width='50%'>{{ui-pill 'big pill' size='large'}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-pill 'secret pill' size='small'}}{{/code-block}}</td>
        <td width='50%'>{{ui-pill 'secret pill' size='small'}}</td>
      </tr>
    </table>

  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>Progress Bar</h1>
    <p class="text-muted">
      The progress bar in Bootstrap is an HTML 5 based progress bar with some additional styling. This addon adds an Ember component that makes it usage easier.
    </p>
    <p>
      <blockquote class='blockquote'>
        <b>Note:</b> animation is currently broken but this is broken in Bootstrap, not here
      </blockquote>
    </p>

  </div>
  <div class="col-xs-12 col-md-6">
    <table class='table'>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-progress 25}}{{/code-block}}</td>
        <td width='50%'>{{ui-progress 25}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-progress 35 striped=true}}{{/code-block}}</td>
        <td width='50%'>{{ui-progress 35 striped=true}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-progress 45 animated=true}}{{/code-block}}</td>
        <td width='50%'>{{ui-progress 45 animated=true}}</td>
      </tr>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>Cards</h1>
    <p class="text-muted">
      Cards are supplemented by a series of contextual components listed below
      <ul>
        <li>ui-card</li>
        <ul>
          <li>{{ui-label 'header'}} => ui-card-header</li>
          <li>{{ui-label 'image'}}{{ui-label 'imageTop'}}{{ui-label 'imageBottom'}} => ui-card-image</li>
          <ul>
            <li>{{ui-label 'title'}} → ui-card-title (overlayed on image)</li>
            <li>{{ui-label 'text'}} → ui-card-text (overlayed on image)</li>
          </ul>
          <li>{{ui-label 'block'}} => ui-card-block</li>
          <ul>
            <li>{{ui-label 'title'}}</li>
            <li>{{ui-label 'subtitle'}} → ui-card-subtitle</li>
            <li>{{ui-label 'text'}} → ui-card-text</li>
            <li>{{ui-label 'quote'}} → ui-card-blockquote</li>
            <li>{{ui-label 'link'}}</li>
          </ul>
          <li>{{ui-label 'footer'}} => ui-card-footer</li>
        </ul>
      </ul>
    </p>
    <p class='text-muted'>
      Since there are so many ways to combine these component you're most likely to use the <i>block-style</i>.
    </p>
    <p>
      At the top "card" level there are two values properties which have an impact on their subcomponents:
    </p>
    <p>
      <ul>
        <li>
          {{ui-label 'mood'}} - by setting the mood -- primary, secondary, success, etc. -- we change the color of the card:<br/>
          {{ui-buttons
            buttons='default,primary,secondary,info,warning,danger'
            values=moods
            size='tiny'
            onChange=(mut moods)
          }}
        </li>
        <li>{{ui-label 'inverse'}} - a binary flag which alters the color of primarily text to make it lighter: {{ui-toggle-button value=inverse size='tiny' onToggle=(mut inverse)}}</li>
        <li>
          {{ui-label 'justify'}} - you can state the horizontal justification you'd like for the card ("center", "left", "right")
        </li>
      </ul>
    </p>
    <p>
      You will notice some "alpha" effects of Bootstrap 4 here and currently we're doing nothing to fix this as it assumed they'll be addressed by the team themselves. Even with some of these effects though, there are a lot of powerful things you can do. In order to go into more detail on cards and the composition of cards click the button below:
    </p>
    <p>
      {{ui-button title='Cards in Detail' onClick=(action 'cardDetails')}}
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
{{#code-block language='handlebars'}}
\{{#ui-card as |card|}}
  \{{#card.header}}Example Card\{{/card.header}}
  \{{card.image 'http://dummyimage.com/600x400/474747/c9c9c9.jpg'}}
  \{{#card.block as |block|}}
    \{{block.title 'Epic Tale'}}
    \{{block.subtitle 'once upon a time'}}
    \{{#block.text}}
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor.
    \{{/block.text}}
    \{{block.link 'Hyperlink' src='#' target='_new'}}
    \{{block.link 'LinkTo' route='index'}}
    \{{block.link 'Take action' action=(action 'cardAction')}}
  \{{/card.block}}
\{{/ui-card}} {{/code-block}}

    <div class="widget">
      <p>
        ... renders as <br>
      </p>
      {{#ui-card inverse=inverse mood=mood as |card|}}
        {{#card.header}}Example Card{{/card.header}}
        {{card.image 'http://dummyimage.com/600x400/474747/c9c9c9.jpg'}}
        {{#card.block as |block|}}
          {{block.title 'Epic Tale'}}
          {{block.subtitle 'once upon a time'}}
          {{#block.text}}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor.
          {{/block.text}}
          {{block.link 'Hyperlink' src='#' target='_new'}}
          {{block.link 'LinkTo' route='index'}}
          {{block.link 'Take action' action=(action 'cardAction')}}
        {{/card.block}}
      {{/ui-card}}
    </div>

  </div>
</div>

<hr>


<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>Navbar</h1>
    <p class="text-muted">
      We have added a {{ui-label title='ui-navbar' pill=true}} component which in turn has a number of contextual components under it:
      <ul>
        <li>ui-navbar-brand</li>
        <li>ui-navbar-items</li>
        <li>ui-navbar-item</li>
      </ul>
    </p>
    <p>
      The navbar for this demo is using this and you can refer to the dummy app for more details but to the right you see the <code>application.hbs</code> template's layout used.
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
{{#code-block language='handlebars'}}
\{{#ui-navbar onChange=(action 'navChange') selected=currentPath as |nav|}}
  \{{nav.brand
      brand='ui-bootstrap'
      linkTo='https://github.com/lifegadget/ui-bootstrap'
    }}
  \{{#nav.items}}
    \{{#nav.item routeTo='index'}}
      README
    \{{/nav.item}}
    \{{nav.item title='CSS' routeTo='css'}}
    \{{nav.item title='Components' routeTo='components'}}
    \{{nav.item title='Addons' routeTo='addons'}}
  \{{/nav.items}}
\{{/ui-navbar}}{{/code-block}}

  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>Buttons</h1>
    <p class="text-muted">
      Buttons are rich area within the framework and we have elected to <i>not</i> include them here but instead offer them as a seperate addon which you may add if it so suits you.
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
    {{#code-block language='bash'}}ember install ui-button{{/code-block}}
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>Inputs</h1>
    <p class="text-muted">
      Input controls are also a rich area within the framework and in similar fashion we have seperated them into their own addon.
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
    {{#code-block language='bash'}}ember install ui-input{{/code-block}}
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>Jumbotron</h1>
    <p class="text-muted">
      The Jumbotron is assumed to be used in <i>block</i> format and yields the following items:
    </p>
    <p class="text-muted">
      <ul>
        <li><b>title</b> - use either block or inline format</li>
        <li><b>lead</b> - use either block or inline format</li>
        <li><b>divider</b> - only inline format; if you want to specify a width -- default is 100% -- then you can state this as positional parameter</li>
      </ul>
    </p>
    <p class='text-muted'>
      In addition, there are two component properties on the <b>ui-jumbotron</b> component which effect its look and feel:
    </p>
    <p class="text-muted">
      <ul>
        <li>
          {{ui-toggle-button
            on=' fluid '
            off='default'
            size='small'
            value=fluid
            onToggle=(mut fluid)
          }}
           - The rounded corners of a jumbotron are on by default but if you turn on "fluid" (aka, set to <i>true</i>) then it will take up the full horizontal space provided and remove the rounding
         </li>
        <li>The other parameter is </li>
      </ul>
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
    {{#code-block language='handlebars'}}\{{#ui-jumbotron as |j|
  \{{j.title 'Hello World'}}
  \{{j.lead 'when you say hello to the world, it says hello back'}}
  \{{j.divider}}
  &lt;p&gt;
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  &lt;\p&gt;
\{{/ui-jumbotron}}{{/code-block}}

  {{#ui-jumbotron fluid=fluid as |j|}}
    {{j.title 'Hello World'}}
    {{j.lead 'when you say hello to the world, it says hello back'}}
    {{j.divider}}
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  {{/ui-jumbotron}}
  </div>
</div>

<hr>


<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>List Group</h1>
    <p class="text-muted">
      A "List Group" is a vertically stacked set of "items" which are contextually grouped in some way. The main property that can be set at the group level is whether the list items should be {{ui-pill 'selectable'}}. This is available as the boolean property and when set to <i>true</i> (the default) it will change the HTML from an unordered list (aka, &lt;UL>) of items to a set of links (aka, &lt;a>). Stylistically they will look the same but now a hover effect indicates that selectability is an option.
    </p>
    <p class="text-muted">
      The {{ui-label 'ui-list-group'}} component <i>yields</i> a {{ui-label 'ui-list-item'}} component as the 'item' property and this is where most of the configuration will exist. The <b>item</b> component exposes the following properties:
    </p>
    <p class="text-muted">
      <ul>
        <li><b>active</b> - boolean flag to indicate whether considered "active"</li>
        <li><b>disabled</b> - boolean flag to mark as disabled</li>
        <li><b>mood</b> - you can specify a color mood for the item (aka, 'success', 'danger', etc.)</li>
        <li><b>pill</b> - puts a pill component into the right hand side of the item</li>
        <li><b>label</b> - puts a label component into the right hand side of the item</li>
      </ul>
    </p>
    <p class='text-muted'>
      The {{ui-label 'ui-list-item'}} component also <i>yields</i> the following contextual components:
    </p>
    <p class="text-muted">
      <ul>
        <li><b>item</b> - the main textual description</li>
        <li><b>heading</b> - optionally include a bigger heading text to the item (used with 'item')</li>
        <li><b>right</b> - to target the right side of the item use this component</li>
      </ul>
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
{{#code-block language='handlebars'}}\{{#ui-list-group selectable=false as |list|}}
  \{{list.item 'Inbox' pill='6' pillMood='success'}}
  \{{list.item 'Unread' label='none' labelMood='muted'}}
  \{{#list.item 'Deleted' as |i|}}
    \{{#i.right}}
      \{{ui-icon 'trash'}}
    \{{/i.right}}
  \{{/list.item}}
\{{/ui-list-group}}

\{{#ui-list-group as |list|}}
  \{{#list.item active=true as |i|}}
    \{{i.heading 'One'}}
    \{{i.text 'first ya do this'}}
  \{{/list.item}}
  \{{#list.item as |i|}}
    \{{i.heading 'Two'}}
    \{{i.text 'then you do this'}}
  \{{/list.item}}
  \{{list.item 'this is diabled' heading='Three' disabled=true}}
  \{{list.item 'finally you end with this' heading='Four'}}
\{{/ui-list-group}}

\{{#ui-list-group as |list|}}
  \{{list.item 'success' mood='success' pill='5'}}
  \{{list.item 'info' mood='info'}}
  \{{list.item 'muted' mood='muted'}}
  \{{list.item 'aged' mood='aged'}}
  \{{list.item 'ancient' mood='ancient'}}
  \{{list.item 'normal'}}
  \{{list.item 'warning' mood='warning'}}
  \{{list.item 'danger' mood='danger' pill='8' pillMood='danger'}}
\{{/ui-list-group}}{{/code-block}}

{{#ui-list-group selectable=false as |list|}}
  {{list.item 'Inbox' pill='6' pillMood='success'}}
  {{list.item 'Unread' label='none' labelMood='muted'}}
  {{#list.item 'Deleted' as |i|}}
    {{#i.right}}
      {{ui-icon 'trash'}}
    {{/i.right}}
  {{/list.item}}
{{/ui-list-group}}
<br>
{{#ui-list-group as |list|}}
  {{#list.item active=true as |i|}}
    {{i.heading 'One'}}
    {{i.text 'first ya do this'}}
  {{/list.item}}
  {{#list.item as |i|}}
    {{i.heading 'Two'}}
    {{i.text 'then you do this'}}
  {{/list.item}}
  {{list.item 'this is diabled' heading='Three' disabled=true}}
  {{list.item 'finally you end with this' heading='Four'}}
{{/ui-list-group}}

<br>
{{#ui-list-group as |list|}}
  {{list.item 'success' mood='success' pill='5'}}
  {{list.item 'info' mood='info'}}
  {{list.item 'muted' mood='muted'}}
  {{list.item 'aged' mood='aged'}}
  {{list.item 'ancient' mood='ancient'}}
  {{list.item 'normal'}}
  {{list.item 'warning' mood='warning'}}
  {{list.item 'danger' mood='danger' pill='8' pillMood='danger'}}

{{/ui-list-group}}

  </div>
</div>

<hr>
