<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>Label and Pill</h1>
    <p class="text-muted">
      As has been the cases for several versions of Bootstrap there is a bootstrap
      {{ui-label 'label'}} component. Stylistically you can now also state that the
      label should be {{ui-pill 'pill shaped'}}.
    </p>
    <p class='text-muted'>
      The {{ui-label 'my mood' mood='success'}} property is also supported and you can use
      both {{ui-label 'inline' mood='info'}} and {{#ui-label mood='primary'}}block{{/ui-label}} forms.
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
    <table class='table'>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-label 'my label'}}{{/code-block}}</td>
        <td width='50%'>{{ui-label 'my label'}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-pill 'my pill'}}{{/code-block}}</td>
        <td width='50%'>{{ui-pill 'my pill'}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-pill 'moody pill' mood='danger'}}{{/code-block}}</td>
        <td width='50%'>{{ui-pill 'moody pill' mood='danger'}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-pill 'big pill' size='large'}}{{/code-block}}</td>
        <td width='50%'>{{ui-pill 'big pill' size='large'}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-pill 'secret pill' size='small'}}{{/code-block}}</td>
        <td width='50%'>{{ui-pill 'secret pill' size='small'}}</td>
      </tr>
    </table>

  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>Progress Bar</h1>
    <p class="text-muted">
      The progress bar in Bootstrap is an HTML 5 based progress bar with some additional styling. This addon adds an Ember component that makes it usage easier.
    </p>
    <p>
      <blockquote class='blockquote'>
        <b>Note:</b> animation is currently broken but this is broken in Bootstrap, not here
      </blockquote>
    </p>

  </div>
  <div class="col-xs-12 col-md-6">
    <table class='table'>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-progress 25}}{{/code-block}}</td>
        <td width='50%'>{{ui-progress 25}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-progress 35 striped=true}}{{/code-block}}</td>
        <td width='50%'>{{ui-progress 35 striped=true}}</td>
      </tr>
      <tr>
        <td>{{#code-block language='handlebars'}}\{{ui-progress 45 animated=true}}{{/code-block}}</td>
        <td width='50%'>{{ui-progress 45 animated=true}}</td>
      </tr>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>Cards</h1>
    <p class="text-muted">
      Cards are supplemented by a series of contextual components listed below
      <ul>
        <li>ui-card</li>
        <ul>
          <li>{{ui-label 'header'}} => ui-card-header</li>
          <li>{{ui-label 'image'}}{{ui-label 'imageTop'}}{{ui-label 'imageBottom'}} => ui-card-image</li>
          <ul>
            <li>{{ui-label 'title'}} → ui-card-title (overlayed on image)</li>
            <li>{{ui-label 'text'}} → ui-card-text (overlayed on image)</li>
          </ul>
          <li>{{ui-label 'block'}} => ui-card-block</li>
          <ul>
            <li>text</li>
            <li>link</li>
            <li></li>
          </ul>
          <li>{{ui-label 'footer'}} => ui-card-footer</li>
        </ul>
      </ul>
    </p>
    <p class='text-muted'>
      Since there are so many ways to combine these component you're most likely to use the <i>block-style</i>.
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
{{#code-block language='handlebars'}}
\{{#ui-card as |card|}}
  \{{#card.header}}Example Card\{{/card.header}}
  \{{#card.image src='http://dummyimage.com/600x400/474747/c9c9c9.jpg' width='100%' height='200px'}}
    Overlayed Text
  \{{/card.image}}
  \{{#card.block as |block|}}
    \{{block.title 'Epic Tale'}}
    \{{block.subTitle 'once upon a time'}}
    \{{#block.text}}
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor.
    \{{/block.text}}
  \{{/card.block}}
  \{{/card.image}}
\{{/ui-card}} {{/code-block}}

    <div class="widget">
      <p>
        ... renders as <br>
      </p>
      {{#ui-card as |card|}}
        {{#card.header}}Example Card{{/card.header}}
        {{card.image src='http://dummyimage.com/600x400/474747/c9c9c9.jpg'}}
        {{#card.block as |block|}}
          {{block.title 'Epic Tale'}}
          {{block.subtitle 'once upon a time'}}
          {{#block.text}}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor.
          {{/block.text}}
          {{block.link 'External review' src='#' target='_new'}}
          {{block.link 'Go home' route='index'}}
          {{block.link 'Take action' action=(action 'cardAction')}}
        {{/card.block}}
      {{/ui-card}}
    </div>

  </div>
</div>

<hr>


<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1>Navbar</h1>
    <p class="text-muted">
      We have added a {{ui-label title='ui-navbar' pill=true}} component which in turn has a number of contextual components under it:
      <ul>
        <li>ui-navbar-brand</li>
        <li>ui-navbar-items</li>
        <li>ui-navbar-item</li>
      </ul>
    </p>
    <p>
      The navbar for this demo is using this and you can refer to the dummy app for more details but to the right you see the <code>application.hbs</code> template's layout used.
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
{{#code-block language='handlebars'}}
\{{#ui-navbar onChange=(action 'navChange') selected=currentPath as |nav|}}
  \{{nav.brand
      brand='ui-bootstrap'
      linkTo='https://github.com/lifegadget/ui-bootstrap'
    }}
  \{{#nav.items}}
    \{{#nav.item routeTo='index'}}
      README
    \{{/nav.item}}
    \{{nav.item title='CSS' routeTo='css'}}
    \{{nav.item title='Components' routeTo='components'}}
    \{{nav.item title='Addons' routeTo='addons'}}
  \{{/nav.items}}
\{{/ui-navbar}}{{/code-block}}

  </div>
</div>
